[user]
	name = Thomas Chaplin
	email = thomaschaplin@outlook.com
	username = thomaschaplin
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEoIqvLOwomkhivGKiolhfhvBHVWZ1PXOrqBChReObNu
[core]
	excludesfile = ~/.gitignore_global
[commit]
	template = ~/.gitmessage
	gpgsign = true
[alias]
	b = branch --sort=-committerdate --format='%(HEAD)%(color:bold blue)%(refname:short)%(color:reset) - %(color:bold green)%(committerdate:relative)%(color:reset) - %(color:yellow)%(subject)%(color:reset)' --color=always
	bl = b -a
	l = ll -n 10
	ll = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	findf = "!git ls-files | grep -i"
	findb = "!git b | grep -i"
	findbl = "!git bl | grep -i"
	findc = "!git l | grep -i"
	findcl = "!git ll | grep -i"
	p = pull
	co = checkout
	aliases = "config --get-regexp alias"
	undo = reset --soft HEAD~1
	pu = "!git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)"
	s = status
[fetch]
	prune = true
[init]
	defaultBranch = main
[push]
	default = upstream
	autoSetupRemote = true
[status]
	short = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
