[user]
	name = Thomas Chaplin
	email = thomaschaplin@outlook.com
	username = thomaschaplin
[core]
	excludesfile = ~/.gitignore_global
[commit]
	template = ~/.gitmessage
[alias]
	b = branch --sort=-committerdate --format='%(HEAD)%(color:bold blue)%(refname:short)%(color:reset) - %(color:bold green)%(committerdate:relative)%(color:reset) - %(color:yellow)%(subject)%(color:reset)' --color=always
	l = log --pretty=oneline --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' -n 10
	findf = "!git ls-files | grep -i"
	findb = "!git branch | grep -i"
	findbr = "!git branch -a | grep -i"
	p = pull
	co = checkout
	aliases = "config --get-regexp alias"
	undo = reset --soft HEAD~1
	pu = push --set-upstream origin HEAD
[fetch]
	prune = true
[init]
	defaultBranch = main
[push]
	default = upstream
